@import 'tailwindcss';

/* Customized Color */
@theme{
    --color-primary-1: #183A37;
    --color-primary-2: #6B9080;
    --color-primary-3: #A4C3B2;
    --color-primary-4: #CCE3DE;
    --color-primary-5: #EAF4F4;
    --color-primary-6: #F6FFF8;
    --color-accent-1: #04724D;
    --color-black: #181F1C;
    --color-white: #FCFFF7;
    --color-danger: #E53D00;
}

/* Customized Animation */
@keyframes marquee {
  /* start just off the right edge */
  0%   { transform: translateX(100%); }
  /* end just off the left edge */
  100% { transform: translateX(-100%); }
}
